<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key>
		<string>1.html</string>
		<key>description</key>
		<string>Q1:日本人はどうして行列好きなのですか。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>2.html</string>
		<key>description</key>
		<string>未完成の強み！半人前のススメとは？</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>3.html</string>
		<key>description</key>
		<string>「ケータイ世代」の若者は恋愛もポケットサイズ？</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>4.html</string>
		<key>description</key>
		<string>A:京都人は、他人との距離感を大切にします。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>5.html</string>
		<key>description</key>
		<string>確かに、欧米人に比べ、多くの日本人は、自分の意見や価値観を持っていないように見える。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>6.html</string>
		<key>description</key>
		<string>ネットでコピペ（コピー＆ペーストの略）と言えば、大学生のレポートが話題になっている。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>7.html</string>
		<key>description</key>
		<string>A.床に新聞を大きく広げて読む</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>8.html</string>
		<key>description</key>
		<string>C.新聞を両手で持ち、空中で大きく広げて読む</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>9.html</string>
		<key>description</key>
		<string>防犯あれこれ</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>10.html</string>
		<key>description</key>
		<string>合コンでもっとも重要なのはお店選び。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>11.html</string>
		<key>description</key>
		<string>ポイント３　飲み放題・コース料理があるお店を選ぼう（料金を気にせず楽しむ）</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>12.html</string>
		<key>description</key>
		<string>「コンカツしてる？」 最近、アラサー（３０歳前後）の男女が集まると必ずこんな会話が交わされるという。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>13.html</string>
		<key>description</key>
		<string>文学上の表現</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>14.html</string>
		<key>description</key>
		<string>1.ラーメン（拉面）</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>15.html</string>
		<key>description</key>
		<string>日本は自殺者数が年間3万人という世界屈指の「自殺大国」ですが、なかでも近年では70年代の自殺が目立っています。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>16.html</string>
		<key>description</key>
		<string>結婚しても、人間そのものが生まれ変わるわけではありませんが、やはり結婚という「覚悟」の儀式を通して、彼に過去の悪習を断ち切ってもらえたいと願うのが、乙女の心です。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>17.html</string>
		<key>description</key>
		<string>4位 仕事をしない</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>18.html</string>
		<key>description</key>
		<string>サムライ</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>19.html</string>
		<key>description</key>
		<string>Q:バーゲンでも売れ残った物は…？？ </string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>20.html</string>
		<key>description</key>
		<string>お弁当は、食中毒が起こりやすい季節に関係なく食べられていますが、夏のお弁当には特に注意が必要です。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>21.html</string>
		<key>description</key>
		<string>日：朝起きて1番にすることは？ すがすがしい朝。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>22.html</string>
		<key>description</key>
		<string>ベテランと呼ばれるビジネスマンやビジネスウーマンの方も、もう一度ご自分の電話応対を見直してみて下さい。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>23.html</string>
		<key>description</key>
		<string>■ 次のマストな挨拶言葉</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>24.html</string>
		<key>description</key>
		<string>見極めないと一生の不覚に！壊れかけの２０代３０代</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>25.html</string>
		<key>description</key>
		<string>【ギーク女】</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>26.html</string>
		<key>description</key>
		<string>もうすぐ沈丁花の香る季節。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>27.html</string>
		<key>description</key>
		<string>1. 品のない言葉</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>28.html</string>
		<key>description</key>
		<string>東京・四ッ谷の名店「すし匠」にお伺いし、店主の中澤圭二さんに寿司店でのマナーや、お寿司をより愉しむためのポイント、寿司店でのNG…… etc. お話をお聞きして参りました。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>29.html</string>
		<key>description</key>
		<string>日本の「ここが変だ！」</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>30.html</string>
		<key>description</key>
		<string>たこ焼きチェーン「道頓堀くくる」を運営する白ハト食品工業は昨年12月、10個500円を8個460円に改定した。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>31.html</string>
		<key>description</key>
		<string>　古来より現在に至る迄、日本人の嗜好、味覚の基は“自然な風味を楽しむ”ことにあり、日本文化の伝統が調理の中にも表現されています。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>32.html</string>
		<key>description</key>
		<string>どんなに美しい女性でも、言葉遣いに品が感じられなかったり、誤った日本語を平気で遣っていると、いっぺんに興ざめしてしまうものです。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>33.html</string>
		<key>description</key>
		<string>Q:どうして日本人はカラオケが好きなのですか。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>34.html</string>
		<key>description</key>
		<string>ドメスティックバイオレンス（ＤＶ）、性同一性障害、セックス恐怖症などに悩む若者たちが主人公のフジテレビ系ドラマ「ラスト・フレンズ」（木曜午後１０時）の視聴率が、あす１９日放送の最終回に向けて伸び続けている。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>35.html</string>
		<key>description</key>
		<string>世界のブログのなかで日本語がダントツ1位!　その理由は?</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>36.html</string>
		<key>description</key>
		<string>「10代の約3分の1がネットいじめを受けたことがある」。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>37.html</string>
		<key>description</key>
		<string>財団法人日本漢字能力検定協会では、毎年全国から、その年の世相を表す漢字を募集し、12月12日の「漢字の日」に京都の清水寺で「今年の漢字」を発表している。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>38.html</string>
		<key>description</key>
		<string>ニュースの原稿に「二人組の強盗」という表現がよくある。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>39.html</string>
		<key>description</key>
		<string>★どうしてタバコを吸う女の人が多いのですか。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>40.html</string>
		<key>description</key>
		<string>★日本のテレビ番組に料理番組が多いのはなぜですか。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>41.html</string>
		<key>description</key>
		<string>自分を大切にする</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>42.html</string>
		<key>description</key>
		<string>ニートに代わって、フリーターが社会の最下層として責められる</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>43.html</string>
		<key>description</key>
		<string>仕事中や授業中に、人の目を盗んで、こっそり居眠りしている人は、思いのほか多い。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>44.html</string>
		<key>description</key>
		<string>最近の子供向けのマンガを見ていると、私は時折腹立たしくなる。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>45.html</string>
		<key>description</key>
		<string>何も言わない女たち</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>46.html</string>
		<key>description</key>
		<string>本当の正義。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>47.html</string>
		<key>description</key>
		<string>近年、ミクシイなどのコミニュティを通じて知り合い、結婚するというケースが非常に増えているが、最近それがさらに進化し、「オンライン結婚」なるものが流行の兆しを見せているという。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>48.html</string>
		<key>description</key>
		<string>日本の大学生は世界的に見て、勉強に対するモチベーションが低い。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>49.html</string>
		<key>description</key>
		<string>通勤ラッシュの悲哀</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>50.html</string>
		<key>description</key>
		<string>携帯電話の無料通話を使って、話もしないのにかけっ放しにしている中高生がいる。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>51.html</string>
		<key>description</key>
		<string>19790401173.4の日記</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>52.html</string>
		<key>description</key>
		<string>译注：</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>53.html</string>
		<key>description</key>
		<string>男子禁制の女子校とは、一般的に「女の園」と呼ばれ、男にとっては、どうあがいても絶対に足を踏み入れることができない、言わば「魅惑の楽園」。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>54.html</string>
		<key>description</key>
		<string>会社でやたらと使われている「お疲れ様です。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>55.html</string>
		<key>description</key>
		<string>納豆　卵　のりの食べ方によってわかる　あなたの本当の性格</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>56.html</string>
		<key>description</key>
		<string>飲み会のときだけ話す人</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>57.html</string>
		<key>description</key>
		<string>料理を少量ずつ皿に盛って出すなど「小食の国」として知られる日本で今、「大食い」がブームになっている。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>58.html</string>
		<key>description</key>
		<string>延々と「ケータイ」や「ブログ」について考えたりパネルディスカッションをしている最中に、日本語でカタカナ化と文化化が同期して起きるのではないか、という事に気付いた。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>59.html</string>
		<key>description</key>
		<string>・ 今度は地名について。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>60.html</string>
		<key>description</key>
		<string>「京都慕情」</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>61.html</string>
		<key>description</key>
		<string>両者の「意味的な違い」は、「辞書的な意味」という面に関して言えばあまり違いがないと言えます。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>62.html</string>
		<key>description</key>
		<string>メイド喫茶/ メイドカフェ</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>63.html</string>
		<key>description</key>
		<string>大阪の人ってだけでおもしろい人を期待される機会は多いです。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>64.html</string>
		<key>description</key>
		<string>日本では古くから弁当の習慣が起こり、他の諸国では例を見ないほどの発展を遂げていった。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>65.html</string>
		<key>description</key>
		<string>アナウンス部に新人が仮配属されてきました！森若佐紀子さんです。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>66.html</string>
		<key>description</key>
		<string>東京は自由が丘に、亀屋万年堂というお菓子屋さんがある。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>67.html</string>
		<key>description</key>
		<string>●世界中のどこに行っても大阪弁を通す。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>68.html</string>
		<key>description</key>
		<string>名は体を表す、とはよくいったものだ。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>69.html</string>
		<key>description</key>
		<string>阪神大震災以降、孤独死という言葉とともに現時の問題として急浮上した。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>70.html</string>
		<key>description</key>
		<string> 年末と言えば掃除洗濯の季節。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>71.html</string>
		<key>description</key>
		<string>捨てる・捨てないは人類永遠のテーマ！？。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>72.html</string>
		<key>description</key>
		<string> 七つの福を象徴する「七福神」。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>73.html</string>
		<key>description</key>
		<string> 気持ちが落ち込んでいるとき、自信がなくなっているとき、神社を訪ねると心が落ち着くのは、なぜなんでしょう？　理由はわからないけれど、神社というのは本当に「パワースポット」だと感じます。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>74.html</string>
		<key>description</key>
		<string> 健康で長生きという希望は誰もが心に願うことではないでしょうか。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>75.html</string>
		<key>description</key>
		<string> 待乳山聖天ではダイコン、今戸神社では招きネコ。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>76.html</string>
		<key>description</key>
		<string> 雷門を抜けると、左右に下町らしいお店が連なる「仲見世」商店街が、まっすぐに伸びていて、いつ来ても参拝客や外国から来られた観光客でにぎわっています。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>77.html</string>
		<key>description</key>
		<string> 観光客で賑わう浅草寺の隣に、奥ゆかしく建っている浅草神社。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>78.html</string>
		<key>description</key>
		<string> せっかく浅草を巡るのだから、下町情緒を存分に味わおうと人力車を初体験！　浅草寺前から吉原神社まで、約10分の道のりを一気に駆け抜けます。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>79.html</string>
		<key>description</key>
		<string>樋口一葉の「たけくらべ」をはじめ、多くの文学作品や芸術作品に登場する鷲神社。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>80.html</string>
		<key>description</key>
		<string>浅草七福神巡りもいよいよ大詰めです。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>81.html</string>
		<key>description</key>
		<string>■街角にあふれる落書き</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>82.html</string>
		<key>description</key>
		<string>『風が吹けば桶屋が儲かる』――歴代総理が退陣する度に売り上げを急増させる業者がいる。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>83.html</string>
		<key>description</key>
		<string>受験シーズンを迎え、中国の思想家·孔子をまつる長崎市大浦町の「孔子廟（びょう）」のお札が人気だ。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>84.html</string>
		<key>description</key>
		<string>车模型 </string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>85.html</string>
		<key>description</key>
		<string>就職情報会社のダイヤモンド·ビッグアンドリード（本社·東京都港区）が、大学生の就職人気企業ランキングを発表した。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>86.html</string>
		<key>description</key>
		<string>黒酢と八角の豚角煮</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>87.html</string>
		<key>description</key>
		<string>小1のムスメがいて、しかも、34歳。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>88.html</string>
		<key>description</key>
		<string>「日本に来た外国人はどんなお土産を買うのだろう？」この質問に興味を持つ日本人は多いだろう。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>89.html</string>
		<key>description</key>
		<string>● 茶碗蒸し（ちゃわんむし） </string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>90.html</string>
		<key>description</key>
		<string>1945（昭和20）年8月6日午前8時15分、史上初の原子爆弾「リトルボーイ」が広島県産業奨励館の南東約150メートル地点の上空約580メートルで爆発した。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>91.html</string>
		<key>description</key>
		<string>日本では法律によって定められた「国花」はなく、一般的に桜か菊（天皇家の紋章）が国花とされている。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>92.html</string>
		<key>description</key>
		<string>　日本は温泉の国である。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>93.html</string>
		<key>description</key>
		<string>日本のもてなしを体験したければ、伝統的な日本旅館に行くのがいちばんだろう。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>94.html</string>
		<key>description</key>
		<string>　真夏が近づいてきて、日本の街角の女性たちの服装がファッション雑誌の話題の焦点になっている。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>95.html</string>
		<key>description</key>
		<string>日本観光に訪れた華人のみなさんの多くは、日本の都市と農村にはあまり違いがないと感じられたことだろう。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>96.html</string>
		<key>description</key>
		<string>日本にコーヒーが初めて輸入されたのは1877年。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>97.html</string>
		<key>description</key>
		<string>村上春樹は、日本だけでなく世界中にファンを持っている。</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>98.html</string>
		<key>description</key>
		<string>日本　赤ちゃんの「泣き相撲大会」が開催</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>99.html</string>
		<key>description</key>
		<string>起床</string>
	</dict>
	<dict>
		<key>fileName</key>
		<string>100.html</string>
		<key>description</key>
		<string>参考译文</string>
	</dict>
</array>
</plist>
